@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 92, 39, 62; /* Dark Red */
  --background-end-rgb: 255, 165, 0; /* Light Orange */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to top right,
    #FF9D86 10%, /* salmon */
    #E38681 45%, 
    #98828A 60%,
    #566F88 75%,
    #384A57 /* blue/teal */
  );
                
}

